<template>
  <div class="resetPassword">
    <!-- page container -->
    <b-container class="d-flex justify-content-center">
      <form class="p-5 w-50 shadow-lg p-3 mb-5 bg-white rounded">
        <!-- titre  -->
        <h2 class="pb-4">Réinitialiser le mot de passe</h2>

        <!-- label and input for email -->
        <div class="form-group mb-4">
          <label class="form-label d-flex justify-content-start" for="email"
            >Email</label
          >
          <input type="email" class="form-control" id="email" required />
        </div>

        <!-- label and input for new password -->
        <div class="form-group mb-4">
          <label class="form-label d-flex justify-content-start" for="password"
            >Nouveau mot de passe</label
          >
          <input type="email" class="form-control" id="password" />
        </div>

        <!-- label and input for the confirmation of new password -->
        <div class="form-group mb-5">
          <label class="form-label d-flex justify-content-start" for="confirm"
            >Confirmer le nouveau mot de passe</label
          >
          <input type="password" class="form-control" id="confirm" />
        </div>

        <!-- Button Valider -->
        <button type="submit" class="btn btn-primary w-75 mb-2">Valider</button>
        <!-- link to page Connexion -->
        <div>
          <b-link
            class="d-flex justify-content-center font-weight-bold mt-4"
            style="text-decoration: none"
            to="/connexion"
            exact
            exact-active-class
            >retour</b-link
          >
        </div>
      </form>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
