<template>
  <div class="connexion">
    <!-- page container -->
    <b-container class="d-flex justify-content-center">
      <form class="p-5 w-50 shadow-lg p-3 mb-5 bg-white rounded">
        <!-- titre  -->
        <h2 class="pb-4">Connexion</h2>

        <!-- Email input and its label -->
        <div class="form-outline mb-4">
          <label
            class="form-label d-flex justify-content-start"
            for="form2Example1"
            >Email</label
          >
          <input type="email" id="form2Example1" class="form-control" />
        </div>

        <!-- Password input and its label -->
        <div class="form-outline mb-4">
          <label
            class="form-label d-flex justify-content-start"
            for="form2Example2"
            >Mot de passe</label
          >
          <input type="password" id="form2Example2" class="form-control" />
        </div>

        <!-- Button Se connecter -->
        <button type="submit " class="btn btn-primary w-75 mb-4">
          Se connecter
        </button>

        <div class="row mb-4">
          <div class="col">
            <!-- Link to the page "reset password" -->
            <router-link to="/changer-mdp">Mot de passe oublié ?</router-link>
          </div>
        </div>

        <!-- Link to the page "inscription" -->
        <div class="text-center">
          <p>
            Not a member?
            <router-link to="/inscription">S'inscrire</router-link>
          </p>
        </div>
      </form>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
