<template>
  <div>
    <b-container class="container d-flex justify-content-center">
      <b-form
        class="w-50 p-5 shadow-lg p-3 mb-5 bg-white rounded"
        @submit="onSubmit"
      >
        <h2 class="pb-4">Inscription</h2>
        <!-- User name input -->
        <div class="form-outline mb-4">
          <label class="form-label d-flex justify-content-start" for="name"
            >Nom d'utilisateur</label
          >
          <input type="text" id="name" v-model="name" class="form-control" />
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label d-flex justify-content-start" for="email"
            >Email</label
          >
          <input type="email" id="email" v-model="email" class="form-control" />
        </div>
        <!-- Password Input-->
        <div class="form-outline mb-4">
          <label class="form-label d-flex justify-content-start" for="password"
            >Mot de passe</label
          >
          <input
            type="password"
            id="password"
            v-model="password"
            class="form-control"
          />
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary w-75">Valider</button>
        <!-- Back to sign in link -->
        <div>
          <b-link
            class="d-flex justify-content-center font-weight-bold mt-4"
            style="text-decoration: none"
            to="/connexion"
            exact
            exact-active-class
            >retour</b-link
          >
        </div>
      </b-form>
    </b-container>
  </div>
</template>
