<template>
  <div class="about">
    <div>
      <h1>Mes recommandations</h1>
      <b-container class="my-5">
        <b-row class="text-center" align-h="center">
          <Card
            titre="Alien"
            real="Ridley Scott"
            img="https://picsum.photos/300/300/?image=25"
          />
          <Card
            titre="Dune"
            real="Ridley Scott"
            img="https://picsum.photos/seed/picsum/300/300"
          />
          <Card
            titre="Titanic"
            real="Ridley Scott"
            img="https://picsum.photos/300/300?grayscale"
          />
          <Card
            titre="Robocop"
            real="Ridley Scott"
            img="https://picsum.photos/id/1/300/300"
          />
          <Card
            titre="Gardiens de la galaxie"
            real="Ridley Scott"
            img="https://picsum.photos/300/300/?image=25"
          />
          <Card
            titre="babar"
            real="Ridley Scott"
            img="https://picsum.photos/300/300/?image=25"
          />
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Card from "@/components/Card.vue";

export default {
  name: "MesRecommandations",

  components: {
    Header,
    Card,
  },
};
</script>
