<template>
  <div class="about">
    <div class="container">
      <h2>Filtrer par :</h2>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          filter <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <input
            class="form-control"
            id="myInput"
            type="text"
            placeholder="Search.."
          />
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">jQuery</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">Angular</a></li>
        </ul>
      </div>
    </div>
    <div>
      <h1>Recommandations</h1>
      <b-container style="border: 1px solid silver">
        <b-row class="vh-100 text-center m-5" align-v="center">
          <Card
            Title="Matrix"
            img="http://via.placeholder.com/640x360"
            SubTitle="1999"
            class="m-2"
          />
          <Card
            Title="Spiderman"
            img="http://via.placeholder.com/640x360"
            SubTitle="2021"
            class="m-2"
          />
          <Card
            Title="Matrix"
            img="http://via.placeholder.com/640x360"
            SubTitle="2010"
            class="m-2"
          />
          <Card
            Title="Matrix"
            img="http://via.placeholder.com/640x360"
            SubTitle="2000"
            class="m-2"
          />
          <Card
            Title="Matrix"
            img="http://via.placeholder.com/640x360"
            SubTitle="1600"
            class="m-2"
          />
          <Card
            Title="Matrix"
            img="http://via.placeholder.com/640x360"
            SubTitle="2002"
            class="m-2"
          />
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Card from "@/components/Card.vue";

export default {
  name: "Recommandation",
  components: {
    Card,
  },
};
</script>
