
<template>

<div>
  <Header></Header>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/inscription">Inscription</router-link> |
      <router-link to="/mes-recommandations">Mes recommandation</router-link> |
      <router-link to="/connexion">Connexion</router-link> |
      <router-link to="/recommandations">Recommandations</router-link>
    </div>
    <router-view/>
  </div> 
  <Footer></Footer>
  </div>
</template>


<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
