<template>
  <div class="">
    <b-card
      class="p-3 lg-4 shadow-lg m-3 mb-2"
      v-bind:title="titre"
      v-bind:sub-title="real"
      v-bind:img-src="img"
      img-alt="Image"
      tag="article"
      style="max-width: 20rem"
    >
      <b-button size="sm" class="m-2" href="#" variant="outline-danger"
        >Supprimer</b-button
      >
      <b-button size="sm" href="#" variant="outline-primary"
        >Plus d'info</b-button
      >
    </b-card>
  </div>
</template>

<script>
export default {
  props: ["titre", "img", "real"],
};
</script>
