<template>
  <!-- Copyright -->
  <div class="footer-copyright fixed-bottom text-center bg-primary p-1">
    <p class="text-white">© 2022 Copyright: MovieTinder</p>
  </div>
  <!-- Copyright -->
</template>

<script>
export default {};
</script>
