<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <b-icon
        icon="film"
        class="m-2"
        style="width: 30px; height: 30px; color: white"
      ></b-icon>
      <b-navbar-brand to="/home" exact exact-active-class="active"
        >MovieTinder</b-navbar-brand
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-2"
              placeholder=""
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Rechercher</b-button
            >
          </b-nav-form>
          <b-nav-item-dropdown right>
            <template #button-content>
              <b-icon icon="person-circle"></b-icon>
            </template>
            <b-dropdown-item to="/mes-recommandations" exact exact-active-class
              >Mes recommandations</b-dropdown-item
            >
            <b-dropdown-item href="#">Se déconnecter</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>
